.header {
    color: #fff;
    margin-bottom: 2rem;
}
  
.header-form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
}
  
.header-form-group input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 1.1rem;
    margin: 10px;
}
  
.header h2 {
    font-size: 2rem;
}
  
.header h2-name {
    display: block;
}
  
.edit-button {
    border: 2px solid #00bc77;
    background-color: #fff;
    color: #00bc77;
    font-weight: bold;
    padding: 5px 10px;
    width: 140px;
}
  
.edit-button :hover {
    cursor: pointer;
}

.editer-button {
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
    font-weight: bold;
    padding: 10px;
}