.main {
    flex: 1;
}
  
.bg-dark {
    background-color: #12002b;
}
  
.sign-in-button {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
    border: none;
}
  
.sign-in-content {
    box-sizing: border-box;
    background-color: white;
    width: 300px;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 2rem;
}
  
.sign-in-icon {
    font-size: 1rem;
}
  
.sign-in-msg {
    margin-bottom: 1rem;
    color: #cd2f39;
    display: none;
}
  
.error {
    display: block;
}

.input-remember {
    display: flex;
}
  
.input-remember label {
    margin-left: 0.25rem;
}
  
.input-wrapper {
      display: flex;
      flex-direction: column;
      text-align: left;
      margin-bottom: 1rem;
}
  
.input-wrapper label {
        font-weight: bold;
}
  
input {
    padding: 5px;
    font-size: 1.2rem;
}