html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

body,
#root,
.app {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
